<div class="container-fluid">
	<div class="jumbotron">
			<h1 class="display-2">Simple rails app!</h1>
			<p class="lead">simple rails application with postgress DB
			<hr class="my-4">
			<%#= form_tag root_path, remote: true, method: 'get', class: "navbar-form" %>
			<p><%#= text_field_tag :url, params[:url], placeholder: "Enter youtube url", class: "form-control input-lg" %></p>
			<p class="lead">
				<%#= submit_tag "Submit", name: nil, class: "btn btn-primary btn-lg" %>
			</p>
			<h4 class="display-3 lead"><b>Implemented following things:</b></h4>
			<ul class="list-group">
				<li class="list-group-item">1. Setup simple rails application with postgress DB</li>
				<li class="list-group-item">2. Added Jquery library</li>
				<li class="list-group-item">3. Added bootstrap library for CSS </li>
				<li class="list-group-item">4. Created a User Model</li>
				<li class="list-group-item">5. Added Devise gem and setup authentication system with devise with User.</li>
				<li class="list-group-item">6. Created AdminUser model</li>
				<li class="list-group-item">7. Added Active admin gem and setup authentication system with devise for Admin Users.</li>
				<li class="list-group-item">8. Installed the zoom client from this page : https://zoom.us/meetings. The interview will be conducted on zoom.</li>
			</ul>
		</div>
	</div>
</div>
